 <div id="foot" class="footer">
  <div class="container">
    <ul class="bz">
      <li>
        <b>品质保证</b>
        <p>品质护航 购物无忧</p>
      </li>
      <li>
        <b>七天无理由退换货</b>
        <p>为您提供售后无忧保障</p>
      </li>
      <li>
        <b>特色服务体检</b>
        <p>为您呈现不一样的服务</p>
      </li>
      <li>
        <b>帮助中心</b>
        <p>您的购物指南</p>
      </li>
    </ul>
    <div class="clr"></div>
  <br>
  Copyright © 2016.大米科技 All rights reserved. 辽ICP备15001170号 <br>
  </div>
</div>
